<article id="user">
  <header>
    <h4> <%= @user.email %></h4>
  </header>

  <br> <br> <br> <br> <br> <br>
  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %>
</article>